@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}

/* ---------------Header Part Start Here--------------------- */
header {
    width: 100%;
    height: 80px;
    background: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    box-sizing: border-box;
}

.sopping-cart {
    display: none;
}

.logo_header {
    font-weight: 700;
    font-size: 1.5em;
    color: #3A3A3A;
}

.hanburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #3A3A3A;
    font-size: 1em;
    padding: 7px 18px;
    border-radius: 50px;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #ffffff;
    background: #161414;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
}

/* ---------------------Header Part End--------------- */
/* -----------Top Header Part------------------ */
.top-header {
    margin: 150px 80px;
}

.top-header-container {
    display: flex;
    gap: 9vw;
}

.top-text-side h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 16px;
}

.top-text-side p {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 16px;
}

.top-btn {
    background: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    border: 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-img-part img {
    width: 100%;
}

/* -------------Payment Getway Part------------------- */
.payment-getway {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 50px;

}

.payment-getway img {
    width: 100px;
    height: 70px;
}

/* ---------Popular Text-------- */
.popular-text h1 {
    font-size: 1.75em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* ---------------Product Part---------------- */
.product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.see-more h4 {
    font-size: 1.5em;
    text-align: right;
    margin-top: 30px;
    margin-right: 60px;
    color: #E02C6DDE;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 329px;
    height: 476px;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
}

.card img {
    width: 300px;
    height: 256px;
}

/* --------------------Top Footer Part------------------- */
.footer-top {
    margin-top: 100px;
    display: flex;
    gap: 90px;
    margin-left: 130px;
    margin-right: 130px;
}

.footer-top-text h1 {
    font-size: 2.375em;
}

.footer-top-text p {
    font-size: 1em;
    margin-top: 16px;
}

.footer-top-btn {
    background: #E02C6D;
    width: 170px;
    height: 49px;
    color: #fefefe;
    font-weight: 700;
    border: 0;
    border-radius: 48px;
    margin-top: 16px;
}

/* ------------------Footer Part Start-------------------- */
footer
{
    height: 14.938em;
    width: 100%;
    background:  #0A0826;
    margin-top: 6.25em;
    color: #fefefe;
    text-align: center;
}
.footer-content h1 {
    font-size: 2em;
    padding-top: 1em;
    margin-bottom: 0.5em;
}
.footer-icon i
{
    font-size: 2em;
    margin-top: 1rem;
}
/* ----------Responsive CSS Start ------------------ */

@media only screen and (max-width:576px) {

    /* -------------Header Responsive Part Start------------------ */
    .logo_header {
        font-weight: 700;
        font-size: 1em;
        color: #3A3A3A;
    }

    .sopping-cart {
        display: block;
    }

    .hanburger {
        display: block;
        cursor: pointer;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.7s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: #ffffff;
    }

    .nav-bar ul li a:hover {
        color: #ffffff;
        background: #916666;
    }

    /* ---------Header Responsive Part End---------- */
    /* ------------Top Header Part--------- */
    .top-header-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .top-text-side h1 {
        font-size: 2.9em;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .top-header {
        margin: 0 auto;
    }

    /* ----payment getway ------ */
    .payment-getway {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .footer-top {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-top-img img {
        width: 85vw;
     
    }
}